body {
    /*font-family: "Gotham Narrow SSm A", "Gotham Narrow SSm B", -apple-system, "Segoe UI", sans-serif;*/
    font-family: var(--font-family); 
    font-weight: 400;
    font-size: 18px;
    line-height: var(--baseline);
    color: var(--text-color);
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font-family);
    font-weight: 900;
}

@media (--collapse) {
    body {
        font-size: 16px;
    }

    .-mobile-sidebar-visible body {
        overflow: hidden;
    }
}
